body{
    
    background-color: #1A2A33;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    font-family: "Outfit", sans-serif;

}

:root{
    --light-blue: #31C3BD;
    --light-yellow: #F2B137;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 460px;
}

.logo {
    width: 100%;
    height: 52px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tic-tac{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    height: 100%;
    display: flex;
    margin-left: -25px;
}



.krest {
    width: 37px;
    height: 10px;
    border-radius: 3px;
    background-color: var(--light-blue);
}

.krest-1{
    transform: translate(18.5px, 0) rotate(45deg);
    
}

.krest-2{
    transform: translate(-18.5px, 0) rotate(-45deg);
    
}


.circult{
    width: 32px;
    height: 32px;
    border: solid 10px var(--light-yellow);
    border-radius: 50%;
    box-sizing: border-box;
    transform: translate(-15px, 0);
    
}


.turn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #1f3641;
    box-shadow: 0 5px #10212a;
}

.krestik{
    width: 26px;
    height: 7px;
    background-color: #a8bfc9;
    border-radius: 2px
}

.krestik-1{
    transform: rotate(45deg);
}

.krestik-2{
    transform: rotate(-45deg) translate(-18px, -18px);
}

.turn p{
    margin-left: -20px;
    font-size: 16px;
    font-weight: bold;
    color: #a8bfc9;
}

.heading{
    width: 52px;
    height: 52px;
    background-color: #A8BFC9;
    border-radius: 10px;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playground{
    display: grid;
    grid-template-areas: "card card card"
                        "card card card"
                        "card card card";
                        gap: 20px;
}


.card{
    width: 140px;
    height: 140px;
    background-color: #1f3641;
    border-radius: 15px;
    box-shadow: 0 5px #10212a;
}
