body {
    background-color: #E0F1E8;
    display: flex;
    justify-content: center;
    transition: background-color 1s ease-in-out;
    font-size: 18px;
}


.main_form{
    background-color: white;
    font-family: "Karla", sans-serif;
    margin: 12.5% 0;
    border-radius: 10px;
    padding: 5%;
    display: flex;
    flex-grow: 1; 
    flex-basis: 343px;
    max-width: 736px;
    flex-wrap: wrap;
}

.all_the_forms{
    display: flex;
    flex-grow: 1; 
    flex-basis: 90%;
    flex-wrap: wrap;
    gap: 16px;
}

.form_names {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
    margin-bottom: 0;
}

.first_name,
.last_name{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 295px;
}


.star{
    color: #0C7D69;
}

input {
   
    
    border-radius: 8px;
    border: 1px solid #86A2A5;
}

label, span{
      transition: all 0.3s ease-in-out;

}


input:hover, textarea:hover{
    border: 1px solid #0C7D69;
    cursor: pointer;
}

.first_name > input,
.last_name > input,
.email_adr > input{
    flex-basis: 1000%;
    height: 51px;
    flex-shrink: 1;
    flex-grow: 1;
    font-size: larger;
}

.email_adr{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.query_type{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 1000%;
    
}


.query_type > p {
    flex-basis: 1000%;
}

.query_type_btns {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1000%;
    gap: 16px;
    flex-wrap: wrap;
}


.query_lable:hover{
    background-color: #E0F1E8;
    cursor: pointer;
}

.query_lable > input{
    width: 19.5px;
    height: 19.5px;
    border-radius: 50%;
    background-color: #86A2A5;
    border: 1px solid #0C7D69;
}

.query_lable{
    display: flex;
    border: 1px solid #86A2A5;
    border-radius: 8px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 271px;
    padding: 0px 24px;
    height: 51px;
    gap: 12px;
    align-items: center;
}

.query_lable input{
    appearance: none;
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.query_lable .changed_radio{
    position: relative;
    display: inline-block;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #86A2A5;
    border-radius: 50%;
}

.query_lable .changed_radio::after{
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    border-width: 0 1.5px 1.5px 0;
    transition: all 0.3s ease-in-out;
}

.query_lable input:checked ~ .changed_radio::after{
    display: block;
    background-color: #0C7D69;
    transition: all 0.3s ease-in-out;
}

.query_lable input:hover ~ .changed_radio::after{
    background-color: #E0F1E8;
    transition: all 0.3s ease-in-out;
}

.query_lable input:checked ~ .changed_radio{
    
    border:2px solid #0C7D69;
}


.message{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 137px;
    max-height: 295px;
}


.message > textarea{
    resize: none;
    border: 1px solid #86A2A5;
    border-radius: 8px;
    width: 100%;
    height: 150px;
    font-size: 18px;
    
}

textarea:hover{
    border: 1px solid #0C7D69;
}

.checkbox{
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
}

.custom_checkbox input{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.custom_checkbox .change_checkbox{
    position: relative;
    display: inline-block;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #86A2A5;
    border-radius: 2px;
}

.custom_checkbox .change_checkbox:after{
    content: "";
    position: absolute;
    
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-radius: 1x;
    border-width: 0 1.75px 1.75px 0;
    transform: rotate(45deg);
}

.custom_checkbox input:checked ~ .change_checkbox:after{
  display: block;
}
.custom_checkbox input:checked ~ .change_checkbox{
    width: 18px;
    height: 18px;
    background-color: #0C7D69;
    border: #0C7D69;
}


.submit_button{
    display: flex;
    width: 100%;
}

.submit_button button{
    text-align: center;
    width: 100%;
    background-color: #0C7D69;
    border: #0C7D69;
    border-radius: 8px;
    height: 59px;
    color: white;
    font-size: large;
    transition: all 0.3s ease-in-out;
}


.submit_button button:hover{
    background-color: #0B0B43;
}